<!DOCTYPE html>
<html ng-app="waitStaffApp">
<head>
  <title>WaitStaff Calculator</title>
  <!--   <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
 --> 
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="style.css">
<!-- <script type="text/javascript" src="angular.js"></script>
 -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular-messages.js"></script>
<!-- <script type="text/javascript" src="angular-messages.js"></script> -->
<script type="text/javascript" src="app.js"></script>
<script type="text/ng-template" id="number-error-messages">
  <p ng-message="number">Enter a number</p>
  <p ng-message="required">Number is required.</p>
</script>
</head>
<body>
<div class="container" ng-controller="waitStaffController">
  <header>
    <h1 class="text-center border-bottom">WaitStaff Calculator</h1>
  </header>
  <div class="row">
    <div class="col-md-6">
      <h3 class="text-center border-bottom">Enter the Meal Details</h3>
      <div class="blank-row"></div>
      <form class="form-horizontal" name="mealDetailsForm" ng-submit="mealDetailsFormSubmit()" novalidate>
        <div class="form-group">
          <label for="baseMealPrice" class="col-sm-7 control-label" >Base Meal Price : $ </label>
          <div class="col-sm-5">
            <input type="number" id="baseMealPrice" 
              class="form-control" 
              placeholder="9.99"
              name="baseMealPrice"
              ng-model="mealDetails.basePrice"  required >
            <div class="help-block" 
              ng-if="interacted(mealDetailsForm.baseMealPrice)"
              ng-messages = "mealDetailsForm.baseMealPrice.$error" 
              ng-messages-include="number-error-messages">
            </div>
          </div>
        </div>
           <div class="form-group">
          <label for="taxRate" class="col-sm-7 control-label" >Tax Rate : % </label>
          <div class="col-sm-5">
            <input type="number" id="taxRate" 
              class="form-control"
              placeholder="11.5%"
              name="taxRate"
              ng-model="mealDetails.taxRate" 
              required>
              <div class="help-block" 
                ng-if="interacted(mealDetailsForm.taxRate)"
                ng-messages = "mealDetailsForm.taxRate.$error" 
                ng-messages-include="number-error-messages">
              </div>
          </div>
        </div>
         <div class="form-group">
          <label for="tipPercentage" class="col-sm-7 control-label" >Tip Percentage : % </label>
          <div class="col-sm-5">
          <input type="number" id="tipPercentage" 
            class="form-control"
            placeholder="3%"
            name="tipPercentage"
            ng-model="mealDetails.tipPercentage" 
            required>
            <div class="help-block" 
              ng-if="interacted(mealDetailsForm.tipPercentage)"
              ng-messages = "mealDetailsForm.tipPercentage.$error" 
              ng-messages-include="number-error-messages">
            </div>
          </div>
        </div>
        
          <div class="pull-right top-margin">
            <input type="submit" class="btn btn-primary btn-sm right-margin" value="Submit" name="submit">
            <button type="button" class="btn btn-default btn-sm" ng-click="resetMealDetails()">Cancel</button>
          </div>
      </form>
    </div>
    <div class="col-md-6">
      <h3 class="text-center border-bottom">Customer Charges</h3>
      <div class="blank-row"></div>
      <div class="form-horizontal">
      <div class="form-group">
        <label for="subtotal" class="control-label col-sm-4">Subtotal</label>
        <div class="col-sm-8">
          <span id="subtotal" class="form-control col-sm-4" readonly>{{customerCharges.subtotal | number:2}}</span>
        </div>
      </div>
      <div class="form-group">
        <label for="tip" class="control-label col-sm-4">Tip</label>
        <div class="col-sm-8">
          <span id="tip" class="form-control col-sm-8" readonly>{{customerCharges.tipAmount | number:2}}</span>
        </div>
      </div>
      <div class="form-group">
        <label for="total" class="control-label col-sm-4">Total</label>
        <div class="col-sm-8">
          <span id="total" class="form-control col-sm-8" readonly>
          {{customerCharges.subtotal + customerCharges.tipAmount | number:2}}</span>
        </div>
      </div>
      </div>
    </div>
    <div class="col-md-6">
      <h3 class="text-center border-bottom">My Earnings Info</h3>
            <div class="blank-row"></div>

       <div class="form-horizontal">
       <div class="form-group">
        <label for="tipTotal" class="control-label col-sm-4">Tip Total</label>
        <div class="col-sm-8">
          <span id="tipTotal" class="form-control col-sm-8" readonly>{{earnings.tipTotal | number:2}}</span>
        </div>
      </div>
      <div class="form-group">
        <label for="mealCount" class="control-label col-sm-4">Meal Count</label>
        <div class="col-sm-8">
          <span id="mealCount" class="form-control col-sm-8" readonly>
          {{earnings.mealCount | number:0}}</span>
        </div>
      </div>
      <div class="form-group">
        <label for="avgTipPerMeal" class="control-label col-sm-4">Average Tip Per Meal</label>
        <div class="col-sm-8">
          <span id="avgTipPerMeal" class="form-control col-sm-8" readonly>
          {{ earnings.tipTotal / earnings.mealCount | number:2 }} </span>
        </div>
      </div>
      </div>
      </div>
    </div>
    <footer class="bottom-margin clearfix">
      <button class="btn btn-primary pull-right" ng-click="resetWaitStaffCalculator()">Reset</button>
    </footer>
  </div>
</div>
</body>
</html>